body {
  font-family: 微軟正黑體;
  font-size: 1.2rem;
}

.img-container {
  width: 100%;
  height: 300px;
  /* background-color: green; */
  background: url('../images/aircraft.jpg'); /* 使用隨機背景圖案時記得移除預設背景 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;   /*vertical horizon*/
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); */
  color: white;
}

nav {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.cover {
  width: 100%;
  height: 200px;
  /* object-fit 為css新屬性，ie不支援只可用background修改 */
  object-fit: cover;
  background-color: #000;
}

/* footer{
  font-size: 0.8rem;
} */
.footer {
  /* 底部不要擋住內文 */
  margin-top: 150px;
}